@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto';
  background: #151515;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.percent{
  color: #999;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.progress-bar{
  width: 406px;
  height: 21px;
  background: #111;
  border-radius: 13px;
  padding: 3px;
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.progress{
  width: 10px;
  height: 15px;
  background: #f60d54;
  border-radius: 13px;
}
.text{
  position: absolute;
  left: 160px;
  color: #fdb5ca;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 21px;
  display: none;
}
.text-blink{
  animation: animate .7s ease-in-out .1s;
}
@keyframes animate {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

nav {
    height: 12vh;
	background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
	float: right;
}

.contact{
	background: rgb(108, 255, 255);
	color: black;
	padding: 20px;
	border-radius: 10px;
	font-size: 20px;
	text-decoration: none;
}

.nav-a{
  text-decoration: none;
  color: rgb(108, 255, 255);
  padding: 20px 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.nav-a:hover {
  background: transparent;
  border: rgb(255, 255, 255) 2px solid;
  transition: 0.5s;
  border-radius: 20px;
}



/* @media screen and (max-width: 968px){
    .line{
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
	}
	.header-text{
		top: 0%;
		left: 0%;
	}
	.header h1{
		color: black;
	}
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 2;
		margin-top: 10px;
	}
	.line{
		background: white;
	}
    nav {
		position: relative;
		background: #383838;
		border: none;
    }
    .nav-links {
      position: fixed;
	  background: #383838;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
	}
	.header-text{
		margin-left: 70px;
	}
	.nav-a{
		color: rgb(108, 255, 255);
	}
	.about-me{
		display: flex;
		flex-direction: column;
	}
	.about-img{
		margin-left: 50px;
		width: 80%;
	}
	.about-p{
		margin-right: 30px;
		width: 80%;
	}
	.about-text{
		/* margin-top: 50px; */
		/* margin-left: 0px;
		text-align: left; */
	/* } */
	/* body .header-p{
		color: rgb(255, 255, 255);
	}
	body .header-text h1{
		margin-top: 300px;
		/* color: #f60d54;
		color: yellow; */
	/*}
	.header{
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url('./Img/huhu.jpg');
		background-size: cover;
	}
	body .header-text{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 0%;
		left: 50%;
		margin: 0px;
		padding: 0px;
	}

}*/
.header{
	background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)),url('./Img/huhu.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	clip-path: polygon(100% 0, 100% 100%, 70% 88%, 0 100%, 0 0);
}
.header .header-text{
	position: absolute;
	transform: translate(-50% -50%);
	left: 50%;
	top: 30%;
}
.header p{
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}
.header h1{
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.header em{
	color: rgb(108, 255, 255);
	font-style: initial;
	font-weight: 500;
	font-family: 'Poppins Sans', sans-serif;
}

.head-btn{
	color: rgb(108, 255, 255);
	border: rgb(108, 255, 255) 2px solid;
	padding: 20px;
	background: transparent;
	border-radius: 20px;
	cursor: pointer;
	font-size: 18px;
}


.about-btn{
	color: rgb(0,0,0);
	border: rgb(0,0,0) 2px solid;
	padding: 20px;
	background: transparent;
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
}
.head-btn:hover{
	color: #000000;
	transition: 0.6s;
	background: rgb(108, 255, 255);
}
.about-btn:hover{
	color: #ffffff;
	transition: 0.6s;
	background: rgb(0, 0, 0);
}

.about-me {
	display: flex;
} 
.about-img{
	background: url('./Img/about-illus.jpg');
	width: 200rem;
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 100px;
}

.about-text{
	position: relative;
	left: 5%;
}

.about-h1{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.about-p{
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
	width: 50%;
	letter-spacing: 1px;
	text-align: justify;
} 
.feature-h1{
	margin-top: 200px;
	margin-bottom: 50px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
.wdwo{
	display: flex;
}
.skills-sec{
	position: relative;
	/* left: 0%; */
	right: 20%;
}
.css-progress{
	width: 90%;
	height: 10px;
	background: #fdad01;
	border-radius: 13px;
}
.javascript-progress{
	width: 50%;
	height: 10px;
	background: #fdad01;
	border-radius: 13px;
}
.php-progress{
	width: 70%;
	height: 10px;
	background: #fdad01;
	border-radius: 13px;
}
.html-progress{
	width: 95%;
	height: 10px;
	background: #fdad01;
	border-radius: 13px;
}
.text-section{
	position: relative;
	left: 5%;
	right: 10%;
	margin-right: 500px;
	margin-left: 50px;
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}
.skill-progress{
	width: 95%;
	height: 10px;
	background: #fdad01;
	border-radius: 13px;

}
.skill-name{
	margin-top: 20px;
}
.skill-progress-bar{
	margin-top: 5px;
	width: 406px;
	height: 16px;
	background: #383838;
	border-radius: 13px;
	padding: 3px;
	box-sizing: border-box;
}
.testimonial{
	background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.836));
	clip-path: polygon(0% 99%, 100% 83%, 100% 1%, 0% 1%);
	height: 50vh;
	margin-top: 50px;
	color: white;
}
@media screen and (max-width: 768px){
	.wdwo{
		flex-direction: column;
	}
	.text-section{
		margin-right: 100px;
	}
	.skills-sec{
		right: 0%;
		left: 20%;
		margin-top: 50px;
	}
	.about-me{
		display: flex;
		flex-direction: column;
	}
	.about-img{
		margin-left: 50px;
		/* width: 10vw; */
	}
	.about-p{
		margin-right: 30px;
		width: 80%;
		margin-top: 30px;
	}
	.about-text{
		/* margin-top: 50px; */
		margin-left: 0px;
		text-align: left;
	}
	.line{
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 2;
        margin-top: 10px;
	}

    nav {
		position: fixed;
		background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
    }
    .nav-links {
      position: fixed;
      background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
	}
	body .header-p{
		color: rgb(255, 255, 255);
	}
	body .header-text h1{
		margin-top: 300px;
		/* color: #f60d54;
		color: yellow; */
	}
	.header{
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url('./Img/huhu.jpg');
		background-size: cover;
	}
	body .header-text{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 0%;
		left: 50%;
		margin: 0px;
		padding: 0px;
	}
}



@media screen and (max-width: 668px){
	.wdwo{
		flex-direction: column;
	}
	.text-section{
		margin-right: 100px;
	}
	.skills-sec{
		right: 0%;
		left: 5%;
		margin-top: 50px;
	}
	.skill-progress-bar{
		width: 60vw;
	}
	.about-me{
		display: flex;
		flex-direction: column;
	}
	.about-img{
		margin-left: 50px;
		width: 75vw;
	}
	.about-p{
		margin-right: 30px;
		width: 80%;
		margin-top: 30px;
	}
	.about-text{
		/* margin-top: 50px; */
		margin-left: 0px;
		text-align: left;
	}
	.line{
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 2;
        margin-top: 10px;
	}

    nav {
		position: fixed;
		background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
    }
    .nav-links {
      position: fixed;
      background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
	}
	body .header-p{
		color: rgb(255, 255, 255);
	}
	body .header-text h1{
		margin-top: 300px;
		/* color: #f60d54;
		color: yellow; */
	}
	.header{
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url('./Img/huhu.jpg');
		background-size: cover;
	}
	body .header-text{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 0%;
		left: 50%;
		margin: 0px;
		padding: 0px;
	}
}


@media screen and (max-width: 868px){
	.wdwo{
		flex-direction: column;
	}
	.text-section{
		margin-right: 100px;
	}
	.skills-sec{
		right: 0%;
		left: 20%;
		margin-top: 50px;
	}
	.about-me{
		display: flex;
		flex-direction: column;
	}
	.about-img{
		margin-left: 80px;
		position: relative;
		left: 5%;
		width: 74vw;
	}
	.about-p{
		margin-right: 30px;
		width: 80%;
		margin-top: 30px;
	}
	.about-text{
		/* margin-top: 50px; */
		margin-left: 0px;
		text-align: left;
	}
	.line{
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 2;
        margin-top: 10px;
	}

    nav {
		position: fixed;
		background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
    }
    .nav-links {
      position: fixed;
      background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
	}
	body .header-p{
		color: rgb(255, 255, 255);
	}
	body .header-text h1{
		margin-top: 300px;
		/* color: #f60d54;
		color: yellow; */
	}
	.header{
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url('./Img/huhu.jpg');
		background-size: cover;
	}
	body .header-text{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 0%;
		left: 50%;
		margin: 0px;
		padding: 0px;
	}
}


@media screen and (max-width: 968px){
	.wdwo{
		flex-direction: column;
	}
	.text-section{
		margin-right: 100px;
	}
	.skills-sec{
		right: 0%;
		left: 20%;
		margin-top: 50px;
	}
	.about-me{
		display: flex;
		flex-direction: column;
	}
	.about-img{
		margin-left: 50px;
		width: 75vw;
		position: relative;
		left: 5%;
	}
	.about-p{
		margin-right: 30px;
		width: 80%;
		margin-top: 30px;

	}
	.about-text{
		/* margin-top: 50px; */
		margin-left: 0px;
		text-align: left;
	}
	.line{
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 2;
        margin-top: 10px;
	}

    nav {
		position: fixed;
		background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
    }
    .nav-links {
      position: fixed;
      background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
	}
	body .header-p{
		color: rgb(255, 255, 255);
	}
	body .header-text h1{
		margin-top: 300px;
		/* color: #f60d54;
		color: yellow; */
	}
	.header{
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url('./Img/huhu.jpg');
		background-size: cover;
	}
	body .header-text{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 0%;
		left: 50%;
		margin: 0px;
		padding: 0px;
	}
}



@media screen and (max-width: 1300px){
	.wdwo{
		flex-direction: column;
	}
	.text-section{
		margin-right: 100px;
	}
	.skills-sec{
		right: 0%;
		left: 20%;
		margin-top: 50px;
	}
	.about-me{
		display: flex;
		flex-direction: column;
	}
	.about-img{
		margin-left: 50px;
		position: relative;
		left: 5%;
		width: 75vw;
	}
	.about-p{
		margin-right: 30px;
		width: 80%;
		margin-top: 30px;
	}
	.about-text{
		/* margin-top: 50px; */
		margin-left: 0px;
		text-align: left;
	}
	.line{
        width: 20px;
        height: 3px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 2;
        margin-top: 10px;
	}

    nav {
		position: fixed;
		background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
    }
    .nav-links {
      position: fixed;
      background: linear-gradient(rgba(0,0,0,0.637), rgba(0,0,0,0.637)), #383838;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
	}
	body .header-p{
		color: rgb(255, 255, 255);
	}
	body .header-text h1{
		margin-top: 300px;
		/* color: #f60d54;
		color: yellow; */
	}
	.header{
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url('./Img/huhu.jpg');
		background-size: cover;
	}
	body .header-text{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 0%;
		left: 50%;
		margin: 0px;
		padding: 0px;
	}
}


