*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img img{
    animation: upanddown infinite 5s linear;
}
@keyframes upanddown{
    0%, 100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px)
    }
}

.title{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}
.banner-para{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    text-align: justify;
}
.title em{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-style: normal; 
}

@media (max-width: 468px){
    .text{
        margin-left: 50px;
        margin-top: 50px;
    }
    .title{
        text-align: center;
    }
    .banner{
        text-align: center;
    }
    .img img{
        margin-left: 0px;
        width: 85vw;
        height: 45vh;
    }
}

@media (max-width: 368px){
    .text{
        margin-left: 50px;
        margin-top: 50px;
    }
    .title{
        text-align: center;
    }
    .banner{
        text-align: center;
    }
    .img img{
        margin-left: 0px;
        width: 85vw;
        height: 45vh;
    }
}
@media (max-width:668px){
    .text{
        margin-left: 40px;
        margin-top: 50px;
        padding-right: 30px;
    }
    .title{
        text-align: center;
    }
    .banner{
        text-align: center;
    }
    .img img{
        margin-left: 0px;
    }
}
@media (max-width: 550px){
    .text{
        padding-left: 10px;
        margin-top: 50px;
    }
    .banner{
        text-align: center;
    }
    .title{
        text-align: center;
    }
    .img img{
        margin-left: 0px;
    }
}

@media (max-width: 768px){
    .text{
        margin-left: 70px;
        margin-top: 50px;
        width: 70vw;
    }
    .title{
        text-align: center;
    }
    .banner{
        text-align: center;
    }
    .img img{
        margin-left: 0px;
    }
}